language: php

services: mysql

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

branches:
  only:
    - master
    - travis
    - 0.4.x

sudo: false

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction
  - mysql -uroot < tests/fixtures.sql
  - mkdir -p build/logs/

script:
  - ./vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_success:
  - sh -c 'if [ "hhvm" != $TRAVIS_PHP_VERSION ] && [ "7.0" != $TRAVIS_PHP_VERSION ]; then php vendor/bin/coveralls -x coverage.clover; fi;'
